<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhQVRKEi5fxGfuwO3vjwQXjYM49KqNceE</string>
	<key>GCM_SENDER_ID</key>
	<string>749872376761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FlavorVista</string>
	<key>PROJECT_ID</key>
	<string>flavorvistaai</string>
	<key>STORAGE_BUCKET</key>
	<string>flavorvistaai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749872376761:ios:1d530cffc9016e95906468</string>
</dict>
</plist>